* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondry);
  overflow: clip;
}
html {
  font-size: 16px;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
}
header div {
  margin: 0 10px;
  display: flex;
  padding: 5px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
header div a {
  text-decoration: none;
  color: black;
}
.moveout {
  transition: transform 0.3s ease-in;
  transform: translate(450px, 0px);
}
#ham-bar {
  width: 3rem;
  cursor: pointer;
}
div i {
  font-size: 4.2rem;
  color: var(--main-color);
}
.ham-menu-box {
  height: 100vh;
  width: 25vw;
  background-color: var(--bg-color);
  position: absolute;
  top: -4px;
  left: -500px;
  transition: transform 0.3s ease-in;
}
#cross {
  height: 2.8rem;
  right: 1rem;
  position: absolute;
  cursor: pointer;
}
.ham-menu-navbar ul {
  list-style: none;
}
.ham-menu-navbar ul li a {
  color: var(--text);
  cursor: pointer;
}
.registerbox {
  position: absolute;
  top: 5rem;
  right: 7rem;

  display: none;

  /* border: 2px solid black; */
}

.registername {
  width: 20vw;
  align-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: red;
  height: 10vh;
  background-color: aqua;
  border: 2px solid black;
  border-top: none;
}
.registername:hover {
  background-color: violet;
  color: aqua;
  cursor: pointer;
}
#main-container {
  height: 100vh;
  width: 100vw;
  background-color: red;
}
